.MuiInputBase-root{
    color: inherit !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #8A8A8A !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):active {
    border-bottom:  2px solid #8A8A8A !important;
}
.MuiInputLabel-root{
    color:grey !important;
}
.MuiFormControl-root{
    border-bottom: 1px solid #8A8A8A !important;
}