.MuiInputBase-root{
    color: inherit !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid #8A8A8A !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):active {
    border-bottom:  2px solid #8A8A8A !important;
}
.MuiInputLabel-root{
    color:grey !important;
}
.MuiFormControl-root{
    border-bottom: 1px solid #8A8A8A !important;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{  border-radius: 10px !important;top: 176px !important;border: 1px solid #B2B2B2 !important;}