ul {
    list-style-type: none;
}
.signupHospitalForm{display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: max-content;}
.sideimg{display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;}
    .sidetimgcol {
        background: #EBEBEB 0% 0% no-repeat padding-box;

        background: #F9F9F9 0% 0% no-repeat padding-box;
        opacity: 1;
        position: relative;
    }
    .signImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        position: relative;
    }
form{margin: 0px !important;}
.TypeOfSignup{width: 100% !important;}
.signupHosbtn {
    background: #01D35A 0% 0% no-repeat padding-box;
    border-radius: 35px !important;
    width: 100%;
    color: white;
    font-size: 19px;
    margin-bottom: 20px;
    padding: 8px;}
.customborder {
    border: none !important;
    border-radius: 0px !important; padding: 0px !important;
    border-bottom: 1px solid #B2B2B2 !important;}
    textarea {
        resize: none !important; }
.HospitalRegProfileInfo{margin: 35px 0px 35px 0px; font-size: 20px; font-weight: 600;}
.Plzenter {
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 25px;
    color: darkgrey;}




.signUpText{
    font-size: 1.5rem;
    margin-top: 65px;
    margin-bottom: 20px;
}
.buttonSignUp{
    padding-top: 10px;
}
.AddDr{padding: 40px;}
.AddDrArea{max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;}
.manageAcc{margin-top:20px;}
