.main_body_flex_parent {
    display: flex;
    flex-wrap: wrap;
}
.main_body_flex_sidebar {
    flex:1 1 15%;
    /* margin: 0 1%; */
}
.main_body_flex_content {
    flex:1 1 80%;
    padding: 3rem !important;
    /* margin: 0 1%; */
}

.sidebar_wrapper 
    {
    z-index: 0;
    padding: 2rem;
    background-color: none;
    overflow-x: hidden;
    font-size: 1rem;
    background-color: #fff;
    position: relative;
    height: 100%;
    }
      
      /* Style the sidebar_wrapper links and the dropdown button */
.sidebar_wrapper a, .log,.dropdown-btn 
   {
      padding: 0.7rem 0px .7rem 0.8rem;
      text-decoration: none;
      font-size: 1.1rem;
      color: #818181;
      display: block;
      border: none;
      background: none;
      width: autoto;
      text-align: left;
      cursor: pointer;
      position: relative;
      outline: none;
   }

.sidebar_wrapper div
      {
        text-decoration: none;
        font-size: 1rem;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        border-radius: 2rem;
        opacity: .6;
        margin-bottom: 1rem;
      }
      .HeaderLink a{color: #000000;}
      
/* On mouse-over */
.sidebar_wrapper a:hover, .dropdown-btn:hover 
      {color: #f1f1f1;}
.main-body-wrapper {
    background-color: #F9F9F9;
}



.sidebar_list_item {
    display: flex;
    flex-wrap: wrap;
}
.sidebar_list_icon {
    flex:1 1 15%;
    display: block;
    margin: auto;
}
.sidebar_list_text {
    flex:1 1 75%;
    display: block;
    margin: auto;
}
.sidebar_list_active {
    background-color: #F6F6F6 !important;
    font-weight: 900;
    opacity: 1 !important;
    text-transform: capitalize;
    color: #000000 !important;
}
.sidebar_list_text_active {
    color: #000;
    opacity: 1;
    font-weight: bolder;
}
.sidebaricon {
    width: 1.4rem;
}
@media (min-width:1100px) and (max-width:1300px) {
    .sidebaricon {
        width: 1.7rem;
    }
}

.profile_name_wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    min-height: 4rem;
    box-shadow: 0px 3px 18px #00000029;
}

.profile_name_name {
    flex: 1 1 70%;
    font-size: 2rem;
    padding: .5rem .5rem .5rem 1rem;
}
.profile_name_number {
    flex: 1 1 25%;
    font-size: 1rem;
    padding: .5rem .5rem .5rem 1rem;
    display: block;
    margin: auto;
}

.new_card_class {
    box-shadow: 0px 3px 18px #00000029;
    border-radius: 1rem;
    opacity: 1;
    background-color: #fff;
}

.insigts_section_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.real_insights_wrapper {
    flex:1 1 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 20rem;
}

.action_insights_wrapper {
    flex:1 1 40%;
    display: block;
    margin-left: 1rem;
    margin-right: auto;
    min-height: 20rem;
}

.business {
    color: #333333;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

.action_insight_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: .2rem .2rem 1rem .2rem;
}
.action_insight_image_wrapper {
    flex:1 1 15%;
    display: block;
    margin: auto;
}
.action_insight_text_wrapper {
    flex:1 1 65%;
    display: block;
    margin: auto;
}

.insight_component_time_wrap {
    flex:1 1 15%;
    display: block;
    margin: auto;
}
.insight_component_info_wrap {
    flex:1 1 50%;
    display: block;
    margin: auto;
}
.action_insight_image {
    width: 4rem;
    height: auto;
    display: block;
    margin: auto;
}
.light_text_rish {
    opacity: .6;
    font-weight: 100;
}
.dark_text_rish {
    opacity: 1 !important;
    font-weight: 900 !important;
    color: #000 !important;
}


.dash_section_two_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.dash_section_two_child {
    flex:1 1 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_flex_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.center_flex_child {
    flex:1 1 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.center_heading_content {
    padding: .5rem;
    display: block;
    margin: auto;
}
.center_name {
    display: block;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}
.center_number {
    font-size: .8rem;
    color: #000;
}
.center_flex_child-2 {
    flex:1 1 100%;
    display: flex;
    margin-right: auto;
    flex-direction: column;
    margin-top: .5rem;
}

.orange_text {
    color:#F19602;
    font-size: 1rem;
}
.black_text {
    color: #000;
    font-size: 1rem;
}

.flex_parent {
    display: flex;
    flex-wrap: wrap;
}
.flex_child_1 {
    flex:1 1 45%;
    display: flex;
    margin:.5rem;
}
.center_flex_image {
    height: 3.5rem;
    width: auto;
}

.tech_background {
    background: transparent url('../../images/tech_background.png') center no-repeat !important;
    background-size: cover !important;
}

.tag_section_rish {
    display: flex;
    flex-wrap: wrap;
}
.tag_section_child {
    flex:1 1 20%;
    display: block;
    margin:auto;
}

.tag_wrapper_rish {
    height: 2rem;
    width: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: .3rem;
    padding: .2rem .4rem;
    cursor: pointer;
}

.active_tag {
    background-color: #f1f1f1 !important;
}