@font-face {
    font-family: 'ProximaNovaW08';
    src: url('ProximaNovaW08-Regular.woff2') format('woff2'),
        url('ProximaNovaW08-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('ProximaNovaA-Regular.woff2') format('woff2'),
        url('ProximaNovaA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaW08';
    src: url('ProximaNovaW08-Regular.woff2') format('woff2'),
        url('ProximaNovaW08-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaW08';
    src: url('ProximaNovaW08-Regular.woff2') format('woff2'),
        url('ProximaNovaW08-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaW08';
    src: url('ProximaNovaW08-Regular.woff2') format('woff2'),
        url('ProximaNovaW08-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

