.Loader{position: fixed;
        right: 50%;
        left: 45%;
        top: 30%;
        }

.AllComponents
       {
             margin-top: 7.6rem;
             margin-left: 6rem;
          
            }
.hspital
.Leftpaddingremove
       {padding-left: 0px !important;}

.DashboardBody
       {background-color: #efefef;}

.Header
       {width: 100%; 
        position: fixed;     
        background-color: white;    
        background: white;
        z-index: 999;}

.fixed-top 
       {background-color: white;}

.HeaderProfileimg
       {box-shadow: none !important;}

.HeaderLink
       {padding: 1rem !important; 
        background-color: white !important;}

.HeaderArrowDown
       {width: 4%;
        margin-left: 25px;}

.top-img
       {margin-left: 5px;}

hr
  {border-top: 1px solid rgba(0,0,0,.1);
  margin: 0px !important;}

@media(max-width:576px){
  .dashbord-input 
        {border-radius: 35px;
        outline: none;
        background-color: white;
        border: 1px solid #707070;
        height: 27px !important;
        width: 196px !important;
        background-image: url(/search.png);
        background-position-x: 1px;
        background-position-y: 1px;
        background-position: 93%;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        margin-left: 1px !important;}

  .logo
       {margin-left: 1px !important;}
} 

.dashbord-input
       {border-radius: 35px;
        outline: none;
        background-color: white;
        border: 1px solid #707070;
        height: 44px;
        width: 420px;
        background-image: url(/search.png);
        background-position-x: 1px;
        background-position-y: 1px;
        background-position: 93%;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        margin-left: 185px; padding: 15px;}

.logo
     {margin-left: 68px; width: 120px;}

.sol-img
     {height: 29px;
      width: 29px !important;}

.nav2
     {font-size: 12px;}


.sol-img2
     {height: 33px;
      width: 33px;
      margin-right: 11px;
      border-radius: 50%;}
.profile-font{padding: 10px !important;}
.profile-font li a{font-size: 11px !important;padding: 10px 10px !important;display: inline-block !important;}
.sol-img3
     {height: 35px;
      width: 35px !important;}

.navbar-collapse
     {margin-right: 75px;}

.dropdown-align
     {width: 110%;
      outline: none ;
      margin-left: -5%;
      background-color: white !important;
      color:  grey !important;
      font-size: 12px !important;
      padding: 8px 8px !important;}

.dropdown-align:focus
    {box-shadow: none !important;}  

.profile-font
    {font-size: 12px !important;}

.dash-dropdown
    {width: 18px;
     height: auto;
     margin-left: 15px;}
     
.sidenav 
    {
  
    margin-top: 7.5rem;
    z-index: 1;
    display: 'inline';
    background-color: none;
    overflow-x: hidden;
    font-size: 1rem;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    background-color: white;
    position: relative;
    left: 6rem;
   /* position: fixed;
   width: 16vw; */
    }
      
      /* Style the sidenav links and the dropdown button */
.sidenav a, .log,.dropdown-btn 
   {
      padding: 0.7rem 0px .7rem 0.8rem;
      text-decoration: none;
      font-size: 1.1rem;
      color: #818181;
      display: block;
      border: none;
      background: none;
      width: autoto;
      text-align: left;
      cursor: pointer;
      position: relative;
      outline: none;
   }
.log
   {
         padding: 12px !important;
         font-size: 1.1rem !important;
    }

.sidenav div
      {
            text-decoration: none;
            font-size: 1rem;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
           
      }
      .HeaderLink a{color: #000000;}
      
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover 
      {color: #f1f1f1;}

a:hover 
      {-webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: black !important;}

.sidebaricon
      {
            width: 1.7rem;
            margin-right: .9rem;
      }
        
.arrowdesign
      {
            margin-top: 6px;
            position: absolute;
            left: 14rem;
            width: 0.6vw;
      }
      input.query_en[type="text"]
    {
        border: 0;
        border-bottom: 1px solid #DCDCDC;
        outline: 0;
        width: 100%;
    padding-bottom: 7rem;
    font-size: 1.3rem;
    padding-top: 1rem;
    }
    .sub_que{text-align: center;margin-top: 3rem;}
    .cal_nu{text-align: center;margin-top: 2rem;}
    .or_frm{font-size: 1.3rem;margin-bottom: 1.7rem;}
    .sub_fr{background: #01D35A;
      border-radius: 26px;
      color: #fff;
      width: 13vw;
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 11px;
      font-size: 1.3rem;}
      .sub_fr:hover { color: #fff !important;} 
     

.pointer 
      {cursor: pointer;}

.list-group:hover 
      {background-color:#D7DBDD;}

.list-group .list-group-item:first-child 
      {border-top-left-radius: 9px !important;
      border-top-right-radius: 9px !important;}

.list-group .list-group-item:last-child 
      {border-bottom-right-radius: 9px !important;
      border-bottom-left-radius: 9px !important;}

.container 
      {margin-top: 20px;
      top: 185px;
      left: 441px;
      width: 896px;
      height: 408px;
      opacity: 1;}

.imgPreview 
    {text-align: center;
     height: 200px;
     width:300px;}

.submitButton
    {padding: 12px;
      margin-left: 10px;
      background: white;
      border: 4px solid lightgray;
      border-radius: 15px;
      font-weight: 700;
      font-size: 10pt;
      cursor: pointer;} 

.fileInput 
     {border-bottom: 4px solid lightgray;
      border-right: 4px solid lightgray;
      border-top: 1px solid black;
      border-left: 1px solid black;
      padding: 10px;
      margin: 15px;
      cursor: pointer;}


    /* DASHBOARD CSS */
hr 
    {width: 100%;}

.dashboardsection
      {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 7px;
      opacity: 1; margin-bottom: 3%;
}
.scrolling_sec {
      overflow: auto;
      height: 32vw;
      overflow-x: hidden;
  }
  .side_br {padding-left: 0 !important;}
.dashrow1
{
      margin-bottom: 1rem;
      font-size: inherit;
      font-weight: normal;
      padding: 1.2rem 1.5rem 1.2rem 0.5rem;
      width:64vw !important;
      margin-left: 1rem;
    
}
.second_scro{ width: 30vw;
      overflow: auto;
      height: 33vw;
      overflow-x: hidden;}

.dashrow2col1
      {margin-right: 18px;max-width: 47.666667% !important;}

.DashboardHospitalName
      {
      margin-top: 0; 
      margin-bottom: 0;
      font-size: 1.8rem;
      padding-left: 10px;
}

.Dashboardsec1
      {font-size: 21px;
      letter-spacing: 0;
      color: #333333;
      text-transform: uppercase;
      font-weight: normal;
      padding: 14px;}  

.dashboardUserInfo
       {padding: 14px;}

.dashboardUserName
      {font-weight: 500;}

.DashboardBookingStatus
      {text-align: right;
      font-weight: 500;
      color: #01D35A;}

.DashboardInsight
      {text-transform: none;
      font-size: 16px;
      text-align: justify;
      margin-top: 8px;
      margin-bottom: 30px;color: #676767a3;} 
      b, strong {
            font-weight: bolder !important;
            color: #000;
        }

.Insightdiv
     {font-weight: 300;}

.DashboardViewMore
      {background: #01D35A 0% 0% no-repeat padding-box;
      border-radius: 35px !important;
      width: 50%;
      color: white;
      font-size: 15px;
      padding: 8px;
      border: none;}

.NotificationViewMore
      {border: none;
      background-color: white;
      color: #01D35A;
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 400;padding-top: 12px;} 

.InsightUpdate
      {
      overflow: visible;
      background: white;
      border: none;
      color: #01D35A;position: relative;
      left: -6px;}
.NotifyNum
      {position: absolute;
      margin-left: -15px;
      border-radius: 50% !important;
      font-size: 13px !important;}

      /* Payment CSS */
    
.Payment
      {margin-top: 40px;}

.redeemBtn
      {border: none;
      background: white;
      color: #01D35A;
      font-size: 1.4rem;}

.PaymentUN
      {font-size: 1.4rem;
      font-weight: 400;}

.redeemModal
      {position: absolute;
      left: 50%;
      right: auto;
      bottom: auto;     
      width: 33%;
      border: 1px solid rgb(204, 204, 204);
      background: rgb(255, 255, 255);
      border-radius: 15px;
      outline: none;
      padding: 20px;
      transform: translate(-50%, -50%);}

.redeemCross
      {border: none; 
      background: white;}

.PaymentHR
      {margin-top: 1rem !important; 
      margin-bottom: 1rem !important;}

    /* DASHBOARD -> BUSINESS section css */

.businessrow1col1
      {display: inline-flex;}

.businessicon
      {
            width: 2rem;
            margin-left: 1rem;
}
.dash_clr{background: #FBFBFB;}
.business
      {
            /* text-decoration: underline; */
            letter-spacing: 0;
            color: #333333;
            margin-left: .5rem;
            margin-top: 1rem;
            font-size: 1.4rem;
            font-weight: bold;
            text-decoration: underline;
            padding-top: 12px;
    padding-bottom: 10px;
           
}

.selectBusinessPeriod
      {text-align: center;
       margin-top: 5%;}

.selectBusiness
      {background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      padding: 2%;
      width: 68%;}

.businessPrice
      {font-size: 30px;
      font-weight: 700;}

.businessEarn
      {color: #01D35A;}

.businessLost
      {color: #F3E520;}

.Earn
      {color: #676767;
      font-size: 14px;}

.businessWarn
      {
      color: #333333;
      font-size: 1.2rem;
      font-weight: 400;
      padding: 3%;}
      .businessWarn p{text-align: left;color: #676767a3;}

.width
     {width: 45%;}

/* DASHBOARD slider */

.SliderUpdatedPrice
     {
      text-align: center;
      /* font-size: 18px; 
      text-align:center; 
      margin-top:42px !important;    
      font-weight: bold; */
}

.bookingChance
    {text-align: center;
    font-size: 16px; }

.slidecontainer 
    {width: 100%;}

.maxmin
    {margin-bottom: 60px;
    margin-top: -88px;}

.rangeslider-horizontal 
    {height: 8px !important;}

.rangeslider-horizontal .rangeslider__fill 
    {height: 100%;
     background-color: #01D35A !important;}

.rangeslider, .rangeslider .rangeslider__fill 
    {background-color: #01D35A !important;
    box-shadow: none !important;}

.rangeslider .rangeslider__handle 
    {background: #01D35A !important;  border: none !important;
    box-shadow: none !important;}

.rangeslider-horizontal .rangeslider__handle:after 
    {background-color: #ffffff !important;
    width: 22px !important;
    height: 22px !important;
    top: 4px !important;
    left: 4px !important;
    box-shadow: none !important;}

/* Dashboard RealTime Insight Css */

.realtimewidth
    {
          /* width: 58%;
     margin-bottom: 20px; */
}

.realtime
    {
          padding: .5rem;
    }
.maximum_time{font-size: 1.0rem;color: #676767;opacity: 0.6;padding-left: 6rem;}
.real_ti_bd{border-bottom: 1px solid #F1F1F1;
      margin-bottom: 1rem;}
.realtimeicon1
    {border-radius: 2vw;
      border: 1px solid #BCD3F6;
      padding: 10px 12px 12px 13px;

      background-color: #F2F7FF;
      margin-left: 0.6rem;position: relative;
      left: 0.4rem;top:0.4rem;}
      img.privc_icone {
            width: 26px;
            position: relative;
            left: 13px;
        }

.realtimeicon
    {width: 1rem;}

.RealtimeUsername
    {
      font-size: 1.2rem;
      font-weight: 500;
}

.kindlyUpdate
    {
      font-weight: 400;
      font-size: 1.2rem;
}

.RealtimeHr
    {
      margin: .9rem !important;
      }

.Timer
    {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    color: #01D35A;
    font-weight: bold;
    width: min-content;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: 200;
}

/* alka-css */
.light_content{ 
      font-size: 1.2rem;
      color: #676767a3;
}
.bdr_dash{padding: 10px;}
/* modal-css */
.update_price{font-size: 16px;text-align: center;}
.dynmic_pra{}
.catlou_sli{margin-top: 20px;}
.modal_pdd{padding: 20px 60px 20px 60px;}
.valu_fl {
      position: relative;
      left: 60px;
  }
  .maxmin h4{font-size: 14px;}
  .valu_chenge{width: 15%;border:none;text-align: left;font-weight: bold;font-size: 16px;}
  .redeemCross{position: relative;left:10px;top: -10px;}

  /* 2nd modal */
  .secon_modal{padding: 20px 60px 20px 60px;}
  .yout_ctl{font-size: 16px;text-align: center;}
  .serv_ces{font-size: 14px;margin-top: 20px;text-align: center;}
  .valu_second{
      position: relative;
      /* right: 83px;
      top: 5px; */
}
 .price_up{text-align: left;border: none;width: 15%;font-weight: bold;font-size: 16px;}