.catalogueComponent{
    margin-top : 8% !important;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}
.catalogue{
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* font-size: 1.6rem; */
    font-weight: 900;
}
.catalogueSearchbar{
    width: 40%;
    padding: .7rem;
    border: 1px solid #01D35A;
    border-radius: 39px;
    background-image: url(/search.png);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.catalogueSearchbar:hover{
    border: none;
}
.listOfService{
    /* padding: 2% 3%; */
}
.listOfServiceHeading{
    background:#F8F8F8;
    padding: 2%;
    font-weight: 500;
    font-size: 18px;
}
.Loader{
    top: 40%;
    left: 45%;
}
.catalogueViewMore{
    font-size: 23px;
    border: none;
    background-color: white;
    font-weight: 600;
    color: #01D35A;
    padding: 2%;
}
.catalogueVariance{
    border: 1px solid #B2B2B2;
    border-radius: 35px;
    text-align: center;
    padding: 4px 0px;
}
.uploadCata{
    color: black;
    font-size: .8rem;
    margin-top: .4rem;
    font-weight: 500;
}