.HospitalProfileBody
        {height: 2691px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DCDCDC;
        border-radius: 10px;
        opacity: 1;}


   /* .HospitalCoverImg     {width: inherit;
        margin-left: 21px;
        margin-top: 5px; height:auto;} */

.HospitalCover
        {position: relative;     
        width: 99%;}

.greendot 
        {position: absolute; 
        margin: 357px 0px 0px 795px;}

.bigedit 
        {position: absolute;  
        margin: 384px 0px 0px 822px;}

.blackdot
        {margin-left: 10px;
        width: 115px;
        border-radius: 50%;
        height: 109px;
        border: 1px solid darkgrey;}

.ExpertsDetails
        {width: 50%; 
        display: inline-flex !important;     
        margin-bottom: 25px;}

.ExpertImg
       {border: 1px solid darkgrey;
        border-radius: 50%;
        width: 70px;
        height: 70px;}

.AddExpert
        {border: none;
        background-color: white;
        color: rgb(1, 211, 90);
        font-size: 19px;}

.ExpertRow
        {margin-bottom: 25px;
        width: 100%; 
        margin-left: 0px !important; 
        margin-right: 0px !important;}

.HospitalBio
        {width: 92%;
        text-align: justify;
        margin-left: 35px !important;}

.Hospitalhr
        {margin: 35px !important; 
        width: 92%;}

.HospitalProfileRow1
        {margin-top: 25px;}

.AddExpertForm
        {padding: 25px;} 

.AddExpertBtn
        {width: 93%; 
        border-radius: 4.125rem; 
        background-color: #01D35A !important; 
        height: 47px; 
        color: white; 
        border: none;}
        
.AddExInput{border: none; border-bottom: 1px solid darkgrey;}
.catalogueImg{
        padding: 2%;
}
/* alka-css */
.mas_hos{padding: 13px 19px 10px 28px;width: 100%;}
.edit_image{background: #01D35A;border-radius: 50%;width: 50px;height: 50px;text-align: center;cursor: pointer;float: right;position: relative;
        right: 26px;
        top: -45px;}
.edit_icn {width:20px;padding-top: 15px;}
.content_pos{padding-top: 20px;}
.max_cnt{    margin-bottom: 9px;}
.achimen_pd{margin-top: 2rem;}
.edit_image2{background: #01D35A;border-radius: 50%;width: 30px;height: 30px;text-align: center;position: relative; left: 81px; top: -24px;}
.edit_icn2{width: 10px;padding-top: 4px;}
.bdyhs_mar{margin-top: 40px;margin-left: 20px;}
.viewmap{color:#01D35A;padding-left: 18px;font-weight: 400;}
.editmainbodymaxhospital{color: #01D35A;font-weight: 400;}
.edi_intr{color: #01D35A; font-weight: 400;cursor: pointer;}
.b-select-wrap {
        border: none;
        color: #474747;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        font-weight: 400;
    }
    
    .b-select-wrap::after {
        content: "⌄";
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
        font-size: 35px;
        color: #989393;
    }
    
    .b-select {
        padding: 5px 15px;
        background-color: white;
        border: 0;
        outline: none;
        color: #8A8A8A;
        font-size: 22px;
        -webkit-appearance: none; /* for webkit browsers */
        -moz-appearance: none; /* for firefox */
        appearance: none; /* for modern browsers */
       
}
.cardio_le{margin: 30px 10px 50px 20px;}
.Service_List{padding-left: 40px;margin-bottom: 40px;}
.s_list{font-size: 20px;color: #474747;font-weight: 400;}
.abiatio{font-size: 15px;}
.Service_List a {color:#474747;}
.view_more{color: #01D35A !important;text-align: center;font-weight: 400;}
.vi_m{text-align: center;margin: 20px;}
.bg_clr{background: #AFAFAF;}
.bg_clr img{width: 40px;}
.team_sec{padding: 40px;}
.timelinebox4 {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27);
        text-align: center;
        background-color: #AFAFAF;
        margin-top: 30px;
        height:auto;
    }
    .timelinebox4 img{
        width: 55px;
        height: 55px;
        margin-top: 10px;
        border-radius: 50%;
}
    .left_ali{text-align: left; color: #fff; padding-bottom: 5px;
        padding-left: 11px;
        padding-top: 13px;}
    .left_ali h2{font-size: 14px;}
    .left_ali p{font-size: 12px;line-height: 4px;}
    .timelinebox4_5 {padding: 40px;}
.se-dr{text-align: center;margin: 46px 20px;}
.se-dr a{color: #01D35A; font-weight: 400;}
.se-dr a:hover{color: #01D35A !important;}
.achivmnt_b{background: #F8FFFB;padding: 40px;}
.ach1 {width: 348px;
        height: 250px;}
        .cir_b{border-radius: 50%;width: 40px; height: 40px;background: #fff;position: absolute;
                right: 0;
                top: -16px;text-align: center;}
        .croS{width: 14px;padding-top: 12px;}
        span.three {
                position: relative;
                float: right;
                top: -33px;
                color: #fff;
                right: 10px;
            }
            .achivmnt_b p{padding-top: 16px;}
.text_cmt textarea{border: 0;
        border-bottom: 1px solid #ced4da;
        outline: 0;height: 180px;}