.tooltip-wrapper{
  display: flex;
  padding: 2%;
  flex-direction: column;
  max-width: 12em;
  min-height: 8em;
  opacity: 1;
  border-radius: 2px;
  z-index: 9999;
}
.__react_component_tooltip{
  z-index: 9999;
}
.tooltip-header{
    /* width: 3em; */
    /* background-color: pink !important; */
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    border-bottom: 2px solid #3AA0DD;
}
.tooltip-header-image{
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  /* background-color: green !important; */
}
.tooltip-header-heading{
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* background-color: black; */
}
.tooltip-body{
    /* width: 9em; */
    flex-grow: 8;
    /* align-items: center; */
    display: flex;
    align-content: flex-center;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
}
.__react_component_tooltip{
  padding: 0px;
}
